<div class="container">
  <h1>Ver Vehiculo</h1>
  <br /><br />

  <a
    href="#"
    routerLink="/post/index"
    class="btn btn-primary"
    style="background-color: rgb(175, 17, 17);"
    >Volver</a
  >
  <br /><br />

  <div>
    <strong>ID:</strong>
    <p>{{ post.id }}</p>
  </div>

  <div>
    <strong>Marca:</strong>
    <p>{{ post.marca }}</p>
  </div>

  <div>
    <strong>Modelo:</strong>
    <p>{{ post.modelo }}</p>
  </div>

  <div>
    <strong>Año:</strong>
    <p>{{ post.anio }}</p>
  </div>

  <div>
    <strong>Color:</strong>
    <p>{{ post.color }}</p>
  </div>

  <div>
    <strong>Precio:</strong>
    <p>{{ post.precio }}</p>
  </div>
</div>
