<div class="container">
  <h1>Agregar Vehiculo</h1>
  <br /><br />

  <a
    href="#"
    routerLink="/post/index"
    class="btn btn-primary"
    style="background-color: rgb(175, 17, 17);"
    >Volver</a
  >
  <br /><br />

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="id">Id:</label>
      <input formControlName="id" id="id" type="text" class="form-control" />
    </div>

    <div class="form-group">
      <label for="marca">Marca:</label>
      <input
        formControlName="marca"
        id="marca"
        type="text"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="modelo">Modelo:</label>
      <input
        formControlName="modelo"
        id="modelo"
        type="text"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="anio">Año:</label>
      <input
        formControlName="anio"
        id="anio"
        type="number"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="color">Color:</label>
      <input
        formControlName="color"
        id="color"
        type="text"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="precio">Precio:</label>
      <input
        formControlName="precio"
        id="precio"
        type="number"
        class="form-control"
      />
    </div>

    <br />
    <button
      class="btn btn-primary"
      novalidate
      (ngSubmit)="onSubmit()"
      [formGroup]="form"
      type="submit"
      [disabled]="!form.valid"
      style="background-color: rgb(175, 17, 17);"
    >
      Agregar
    </button>
  </form>
</div>
